@charset "utf-8";
/*!
 * @名称：base.css
 * @功能：1、重设浏览器默认样式
 *       2、设置通用原子类
 */

/* 防止用户自定义背景颜色对网页的影响，添加让用户可以自定义字体 */
html {
  background: #ffffff;
  color:black;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}
body{
  background: {
    color: #ffffff;
  };
  -webkit-font-smoothing: antialiased;
}
/* 重置元素内外边距 */
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
  margin:0;
  padding:0;
}

/* 表单元素继承父级 font  */
body,button,input,select,textarea {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-appearance: none;
}
input,select,textarea {
  font-size:100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
}

/* 去掉 table cell 的边距并让其边重合 */
table {
  border-collapse:collapse;
  border-spacing:0;
}
/* ie bug：th 不继承 text-align */
th {
  text-align:inherit;
}

/* 去除默认边框 */
fieldset,img {
  border:none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
}

/* ie6 7 8(q) bug 显示为行内表现 */
iframe {
  display:block;
}

/* 去掉 firefox 下此元素的边框 */
abbr,acronym {
  border:none;
  font-variant:normal;
}

/* 一致的 del 样式 */
del {
  text-decoration:line-through;
}

address,caption,cite,code,dfn,em,var {
  font-style:normal;
  font-weight:500;
}

/* 去掉列表前的标识，li 会继承 */
ol,ul,dl {
  list-style:none;
}

/* 标头默认左对齐 */
caption,th {
  text-align:left;
}

/* 来自yahoo，让标题都自定义，适应多个系统应用 */
h1,h2,h3,h4,h5,h6 {
  font-size:100%;
  font-weight:500;
}

/* 统一上标和下标 */
sub,sup {
  font-size:75%;
  line-height:0;
  position:relative;
  vertical-align:baseline;
}
sup {
  top:-0.5em;
}
sub {
  bottom:-0.25em;
}

/* 让链接在 hover 状态下显示下划线 */
a{
  color: inherit; cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
  &:hover{
    color: #000000;
  }
}
/* 默认不显示下划线*/
ins,a,canvas {
  text-decoration:none;
  outline:none;
}
