.pull-static{
  position: static !important;
}
.pull-relative{
  position: relative !important;
}
.pull-absolute{
  position: absolute !important;
}
.pull-fixed{
  position: fixed !important;
}
.pull-left{
  float: left !important;
}
.pull-right{
  float: right !important;
}
.pull-none{
  float: none !important;
}