$color01: #ffffff;
$color02: #000000;
$color03: #333333;
$color04: #242424;
$color06: #666666;
$color09: #999999;
$color10: #cccccc;
$color11: #de4550;
$color12: #f5f5f5;
$color13: #31302e;
$color14: #8b8b8b;
$color15: #ea6862;
$color16: #de434e;
$color17: rgba(189,183,183,0.4);
$color18: #b9b9b9;
$color19: #0a0a0a;
$color20: rgba(189,183,183,0.7);
$color21: #c7c7c7;